node_modules
Dockerfiledeploy/inventory
.DS_Store
binding.gyp
build/
deploy/.deploy.yml.swp
deploy/ansible-playbook.retry
deploy/deploy.retry
deploy/dump.rdb
deploy/hw1.sh
deploy/inventory2
deploy/main.yml
deploy/setup.retry
deploy/setup_ami.retry
dump.rdb
src/.DS_Store
src/app/try.js
test.py
try.js
try.py
